name: SpacemiT K1

on:
  push:
    paths:
      - '.github/workflows/spacemit-k1.yml'
      - 'spacemit-k1/**'

jobs:
  build:
    name: Build U-Boot for SpacemiT K1
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - suffix: ""
            opensbi_repo: bianbu-linux/opensbi.git
            opensbi_hostserv: https://gitee.com
            opensbi_ref: k1-bl-v2.2.4-release
          - suffix: "-rva23"
            opensbi_repo: ruyisdk-debian-riscv/k1-opensbi
            opensbi_hostserv: https://github.com
            # Branch k1-rva23 as of 20260113
            opensbi_ref: d54467316c351163895f8b5031886866f61ffa03
    steps:
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-riscv64-linux-gnu bc bison build-essential coccinelle \
            device-tree-compiler dfu-util efitools flex gdisk graphviz imagemagick \
            libgnutls28-dev libguestfs-tools libncurses-dev \
            libpython3-dev libsdl2-dev libssl-dev lz4 lzma lzma-alone openssl \
            pkg-config python3 python3-asteval python3-coverage python3-filelock \
            python3-pkg-resources python3-pycryptodome python3-pyelftools \
            python3-pytest python3-pytest-xdist python3-sphinxcontrib.apidoc \
            python3-sphinx-rtd-theme python3-subunit python3-testtools \
            python3-venv swig uuid-dev u-boot-tools
      - name: Checkout U-Boot Source
        uses: actions/checkout@v5
        with:
          repository: openeuler-riscv/u-boot.git
          ref: spacemit-k1-vendor-2022.10
          fetch-depth: 1
          path: u-boot
      - name: Checkout OpenSBI Source
        uses: actions/checkout@v5
        with:
          repository: ${{ matrix.opensbi_repo }}
          github-server-url: ${{ matrix.opensbi_hostserv }}
          ref: ${{ matrix.opensbi_ref }}
          fetch-depth: 1
          path: opensbi
      - name: Build OpenSBI
        run: |
          mkdir -p build
          make -C opensbi -j $(nproc) CROSS_COMPILE=riscv64-linux-gnu- PLATFORM=generic PLATFORM_DEFCONFIG=k1_defconfig FW_OPTIONS=0
      - name: Build U-Boot
        # K1 doesn't have out-of-tree build support
        run: |
          make -C u-boot -j $(nproc) CROSS_COMPILE=riscv64-linux-gnu- k1_defconfig
          make -C u-boot -j $(nproc) CROSS_COMPILE=riscv64-linux-gnu-
          make -C u-boot -j $(nproc) CROSS_COMPILE=riscv64-linux-gnu- u-boot-initial-env
      - name: Checkout This Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
          path: u-boot-build
      - name: Generate partition.json
        run: |
          STAGING_DIR="$(pwd)/staging"
          mkdir -p "${STAGING_DIR}"
          ./u-boot-build/spacemit-k1/gen_fwpart_norflash.sh u-boot/.config > "${STAGING_DIR}/partition-mtd.json"
          cp u-boot-build/spacemit-k1/partition-sdmmc.json "${STAGING_DIR}"
      - name: Collect Results
        run: |
          STAGING_DIR="$(pwd)/staging"
          DIST_DIR="$(pwd)/dist"
          mkdir -p "${DIST_DIR}"
          cp opensbi/build/platform/generic/firmware/fw_dynamic.itb "${STAGING_DIR}"
          cp u-boot/u-boot.itb "${STAGING_DIR}"
          cp u-boot/u-boot-env-default.bin "${STAGING_DIR}"
          cp u-boot/FSBL.bin "${STAGING_DIR}"
          cp u-boot/bootinfo_spinor.bin "${STAGING_DIR}"
          cp u-boot/bootinfo_sd.bin "${STAGING_DIR}"
          cd "${STAGING_DIR}"; zip -r "${DIST_DIR}/bl-spacemit-k1${{ matrix.suffix }}.zip" .; cd ..
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: k1-firmware${{ matrix.suffix }}
          path: dist
  release:
    name: Release Firmware for SpacemiT K1
    needs: build
    uses: ./.github/workflows/artifact-release.yml
    permissions:
      contents: write
    secrets: inherit
    with:
      tag_name: release-spacemit-k1
      release_name: Boot Firmware for SpacemiT K1
      run_id: ${{github.run_id}}
