name: StarFive JH7110

on:
  push:
    paths:
      - '.github/workflows/starfive-jh7110.yml'
      - 'starfive-jh7110/**'

jobs:
  build:
    name: Build U-Boot for StarFive JH7110
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gcc-riscv64-linux-gnu bc bison build-essential coccinelle \
            device-tree-compiler dfu-util efitools flex gdisk graphviz imagemagick \
            libgnutls28-dev libguestfs-tools libncurses-dev \
            libpython3-dev libsdl2-dev libssl-dev lz4 lzma lzma-alone openssl \
            pkg-config python3 python3-asteval python3-coverage python3-filelock \
            python3-pkg-resources python3-pycryptodome python3-pyelftools \
            python3-pytest python3-pytest-xdist python3-sphinxcontrib.apidoc \
            python3-sphinx-rtd-theme python3-subunit python3-testtools \
            python3-venv swig uuid-dev
      - name: Checkout U-Boot Source
        uses: actions/checkout@v5
        with:
          repository: openeuler-riscv/u-boot.git
          # starfive-jh7110-upstream @ 20251126
          ref: 90e3284e5c307727fb3240d36a9bd6b9354e0cb8
          fetch-depth: 1
          path: u-boot
      - name: Checkout OpenSBI Source
        uses: actions/checkout@v5
        with:
          repository: riscv-software-src/opensbi.git
          ref: v1.7
          fetch-depth: 1
          path: opensbi
      - name: Build OpenSBI
        run: |
          mkdir -p build
          make -C opensbi -j $(nproc) O=$(pwd)/build/opensbi CROSS_COMPILE=riscv64-linux-gnu- PLATFORM=generic FW_TEXT_START=0x40000000 FW_OPTIONS=0
      - name: Build U-Boot
        run: |
          make -C u-boot -j $(nproc) O=$(pwd)/build/u-boot CROSS_COMPILE=riscv64-linux-gnu- starfive_visionfive2_defconfig
          make -C u-boot -j $(nproc) O=$(pwd)/build/u-boot CROSS_COMPILE=riscv64-linux-gnu- OPENSBI=$(pwd)/build/opensbi/platform/generic/firmware/fw_dynamic.bin
          make -C u-boot -j $(nproc) O=$(pwd)/build/u-boot CROSS_COMPILE=riscv64-linux-gnu- u-boot-initial-env
          ./build/u-boot/tools/mkenvimage -s $(grep 'CONFIG_ENV_SIZE' build/u-boot/.config | cut -d '=' -f 2) -o build/u-boot/u-boot-env-default.bin build/u-boot/u-boot-initial-env
      - name: Checkout This Repo
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
          path: u-boot-build
      - name: Build U-Boot Boot Script
        run: |
          ./u-boot-build/starfive-jh7110/gen-boot-cmd.sh build/u-boot/.config build/boot.cmd
          ./build/u-boot/tools/mkimage -T script -d build/boot.cmd build/boot.scr
      - name: Install Dependencies for Creating SDCard Image
        run: |
          sudo apt-get update
          sudo apt-get install -y parted
      - name: Create SDCard Firmware Updater
        run: |
          truncate -s 50M build/boofs.vfat
          mkfs.vfat build/boofs.vfat
          mkdir mnt
          sudo mount build/boofs.vfat mnt
          sudo cp build/boot.scr mnt
          sudo cp build/u-boot/spl/u-boot-spl.bin.normal.out mnt
          sudo cp build/u-boot/u-boot.itb mnt
          sudo cp build/u-boot/u-boot-env-default.bin mnt
          sudo umount mnt
      - name: Pack Final Image
        run: |
          IMG_FILE="firmware_updater.sd.img"
          truncate -s 64M "${IMG_FILE}"
          parted -s "${IMG_FILE}" mklabel gpt
          parted "${IMG_FILE}" mkpart primary 1M 2M
          parted "${IMG_FILE}" name 1 SPL
          parted "${IMG_FILE}" type 1 2E54B353-1271-4842-806F-E436D6AF6985
          parted "${IMG_FILE}" mkpart primary 2M 8M
          parted "${IMG_FILE}" name 2 U-boot
          parted "${IMG_FILE}" mkpart primary 8M 100%
          parted "${IMG_FILE}" name 3 boot
          parted "${IMG_FILE}" set 3 legacy_boot on
          dd if=build/u-boot/spl/u-boot-spl.bin.normal.out of="${IMG_FILE}" bs=512 seek=2048
          dd if=build/u-boot/u-boot.itb of="${IMG_FILE}" bs=512 seek=4096
          dd if=build/boofs.vfat of="${IMG_FILE}" bs=512 seek=16384
      - name: Collect Results
        run: |
          STAGING_DIR="$(pwd)/staging"
          DIST_DIR="$(pwd)/dist"
          mkdir -p "${STAGING_DIR}"
          mkdir -p "${DIST_DIR}"
          cp firmware_updater.sd.img "${DIST_DIR}"
          cp build/u-boot/spl/u-boot-spl.bin.normal.out "${STAGING_DIR}"
          cp build/u-boot/u-boot.itb "${STAGING_DIR}"
          cp build/u-boot/u-boot-env-default.bin "${STAGING_DIR}"
          cd "${STAGING_DIR}"; zip -r "${DIST_DIR}/bl-starfive-jh7110.zip" .; cd ..
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          path: dist
  release:
    name: Release Firmware for StarFive JH7110
    needs: build
    uses: ./.github/workflows/artifact-release.yml
    permissions:
      contents: write
    secrets: inherit
    with:
      tag_name: release-starfive-jh7110
      release_name: Boot Firmware for StarFive JH7110
      run_id: ${{github.run_id}}
